@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #0a0a0a;
  --foreground: #15f5ba;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
 font-weight: 500;
  font-size: 36px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 24px;
}


p, h4, label{
  font-size: 20px;
}

@media (max-width: 841px) {
  h1 {
    font-size: 30px;
  }      
}

